{% macro render_form(form, url) %}
<form method="POST" action="{{ url }}">
  {{ form.csrf_token }}
  {% for field in form %}
    {% if field.type == 'CSRFTokenField' %}
    {{ '' }}
    {% elif field.type == 'SubmitField' %}
    {{ form.submit(class='btn btn-primary', type='submit') }}
    {% elif field.type=='FileField' %}
     {{ field.label }}
     {{ form.work_resume }}
    {% elif field.type == 'BooleanField' %}
    <div class="checkbox">
      <label>{{ field() }} {{ field.label.text }}</label>
    </div>
    {% else %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
      {{ field.label }} {{ field(class='form-control') }}
      {% if field.errors %}
        {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
      {% endif %}
    </div>
    {% endif %}
  {% endfor %}
</form>
{% endmacro %}

{% macro render_pagination(pagination, endpoint) %}
<nav class="nav-pagination" aria-label="Page navigation">
  <ul class=pagination>
  <li{% if not pagination.has_prev %} class="disabled"{% endif %}><a href="{{url_for(endpoint, page=pagination.prev_num) if pagination.has_prev else '#'}}">&laquo;</a></li>
  {% for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
      <li><a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a></li>
      {% else %}
      <li class="active"><a href="#">{{page}} <span class="sr-only">(current)</span></a></li>
      {% endif %}
    {% else %}
      <li><span class=ellipsis>...</span></li>
    {% endif %}
  {% endfor %}
  <li{% if not pagination.has_next %} class="disabled"{% endif %}><a href="{{url_for(endpoint, page=pagination.next_num) if pagination.has_next else '#'}}">&raquo;</a></li>
  </ul>
</nav>
{% endmacro %}

{% macro render_job(job) %}
<div class="col-sm-6 col-md-4">
  <div class="job-box">
    <div class="caption">
      <a href="{{url_for('job.job_detail',id=job.id)}}">
      <b>{{ job.job_title }}</b>
      <p> 经验{{ job.work_experience }} {% if job.work_experience != '不限' %}年{% endif %} 学历{{ job.study_experience }}</p>
      {% for tag in job.tag_list %}
      <span class="label label-default">{{ tag }}</span>
      {% endfor %}
      </a>
    </div>
    <hr>
    <div class="media">
      <div class="media-left">
        <a href="#">
        <img class="media-object" src="{{ 'http://'+job.company_msg.logo }}" width="40" height="40" alt="...">
        </a>
      </div>
      <div class="media-body"><h4 class="media-heading">{{ job.job_title }}</h4>
        <span class="company-meta">{{ job.company_msg.company_field }}/{{ job.company_msg.financing }}/{{ job.company_msg.address }}</span>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro render_company(company) %}
<div class="col-sm-6 col-md-4 company-item">
            <div class="thumbnail">
                <a href="{{ url_for("company.company_detail",id=company.id) }}" target="_blank">
                    <img style="width: 80px;height: 80px" src="{{'http://'+ company.logo }}" alt="图片丢了">
                    <div class="caption">
                        <h4 >{{  company.name}}</h4>
                        <p class="company__description">{{ company.city }}/{{ company.financing }}/{{ company.company_field }}</p>

                        <p>再招职位：{{ company.job|length }}个</p>
                    </div>
                </a>
            </div>
        </div>
{% endmacro %}
