{% extends "base.html" %}
{% from 'macros.html' import render_pagination ,render_company%}
{% block css %}
   <link rel="stylesheet" href="{{ url_for('static', filename='company.css') }}">
{% endblock %}

{% block title %}
    公司
{% endblock %}

{% block body %}
    <div class="company-backgroud">
        <h1 class="company-header">TODO:公司</h1>
        {% for company in pagination.items %}
         {{ render_company(company) }}
        {% endfor %}
    {{ render_pagination(pagination, 'company.company_list') }}
    </div>
{% endblock %}